.homepage-container {
  background-color: whitesmoke;
}

.cats-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3rem 3rem;
  padding: 3rem 0;
}

.hero-title {
  margin: 0;
  font-size: 4rem;
  display: inline;
  animation-name: spacing;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes spacing {
  0% {
    letter-spacing: normal;
  }

  50% {
    letter-spacing: 0.5rem;
  }

  100% {
    letter-spacing: normal;
  }
}

.hero-section {
  padding: 0.5rem;
}

.hero-content {
  padding-top: 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.hero-cat {
  display: none;
}

.cat-img{
  object-fit: cover; 
  width: 250px;
  height: 250px;
}

.add-button {
  margin: 1.5rem;
}

.mat-mdc-card {
  align-items: center;
}

.mat-mdc-card:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.view-details-btn {
  margin: 1rem auto;
}

.loading-spinner {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (min-width: 800px) {
  .hero-cat {
    display: inline-block;
    border-radius: 50%;
    max-width: 20rem;
  }

  .hero-text {
    padding: 0 3rem;
  }

  .hero-title {
    animation-duration: 8s;
  }

  @keyframes spacing {
    0% {
      letter-spacing: normal;
    }
  
    50% {
      letter-spacing: 3rem;
    }
  
    100% {
      letter-spacing: normal;
    }
  }

  .hero-section {
    padding: 3rem;
  }

  .cats-container {
    gap: 6rem 3rem;
    padding: 6rem 3rem;
  }
  
}

@media only screen and (min-width: 1500px) {
  .hero-cat {
    display: inline-block;
    border-radius: 50%;
    max-width: 30rem;
  }

  .hero-content {
    justify-content: center;
  }
  
}