.homepage-container {
  background-color: whitesmoke;
}

.cats-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 6rem 3rem;
  padding: 6rem 3rem;
}

.hero-section h1 {
  margin: 0;
  font-size: 3rem;
  padding-bottom: 3rem;
}

.hero-section {
  padding: 3rem;
}

.hero-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.hero-text {
  padding: 0 3rem;
}

.hero-cat {
  border-radius: 50%;
  max-width: 20rem;
}

.cat-img{
  object-fit: cover; 
  width: 250px;
  height: 250px;
}

.add-button {
  margin: 1.5rem;
}

.mat-mdc-card {
  align-items: center;
}

.view-details-btn {
  margin: 1rem auto;
}

.loading-spinner {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}