<div class="cat-details-container"  *ngIf="cat$ | async as cat">

  <img [src]="cat.img" [alt]="cat.breed_name" class="cat-details-img">
  

  <div class="cat-details-content">

    <mat-list>
      <mat-list-item>
        <span matListItemTitle>Breed: <b>{{cat.breed_name}}</b></span>
        <span>Breed origin: {{cat.breed_origin}}</span>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Vocalisation: <b>{{cat.vocalisation}}</b></mat-list-item>
      <mat-list-item>Dog friendliness: <b>{{cat.dog_friendly}}</b></mat-list-item>
      <mat-list-item>Affection level: <b>{{cat.affection_level}}</b></mat-list-item>
    </mat-list>

    <div class="btns-container">
      
        <button mat-stroked-button (click)="goBack()">Back</button>
      
        <!-- The update and delete buttons only display if the cat is editable (user made)-->
      <a [routerLink]="['/cats/update/',cat.id]"> 
        <button *ngIf="cat.editable" mat-stroked-button color="primary">Update</button>
      </a>
      <button *ngIf="cat.editable" mat-stroked-button color="warn"(click)="deleteCat()">Delete</button>
    </div>

  </div>

</div>
