img {
  max-width: 100%;
  border-radius: 8px;
  margin: 1.5rem auto;
}

.cat-details-container {
  justify-content: center;
  flex-direction: column;
}

.cat-details-container, .cat-details-content {
 display: flex;
 align-items: center;
}

.cat-details-content {
  flex-direction: row;
  justify-content: center;
  gap: 3rem;
  margin-bottom: 1.5rem;

}

@media only screen and (min-width: 1000px) {
  img {
    max-height: 50vh;
  }
}

.btns-container {
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
}