<section>
    <div class="add-cat">
      <h2>Update Cat Details</h2>
   
      <form (ngSubmit)="updateCat()" [formGroup]="editForm">
        <mat-form-field appearance="outline">
          <mat-label>Image URL:</mat-label>
          <input matInput type="text" placeholder="Image URL" [formControl]="imgInput">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Breed name:</mat-label>
          <input matInput type="text" placeholder="Breed name" [formControl]="breedInput">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Breed origin:</mat-label>
          <input matInput type="text" placeholder="Breed origin" [formControl]="breedOriginInput">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Vocalisation</mat-label>
          <input matInput type="number" placeholder="Vocalisation (0-5)" [formControl]="vocalisationInput">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Dog friendliness:</mat-label>
          <input matInput type="number" placeholder="Dog friendliness (0-5)" [formControl]="dogFriendlyInput">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Affection level:</mat-label>
          <input matInput type="number" placeholder="Affection (0-5)" [formControl]="affectionInput">
        </mat-form-field>

       <div class="form-btn-container">

          <button mat-raised-button color="primary" type="submit" [disabled]="editForm.invalid">Submit</button>
          
          <a [routerLink]="['']">
            <button mat-stroked-button>Back</button>
          </a>
        </div>

      </form>
   
    </div>
   
  </section>